<div class="row">
  <div class="col-1"></div>
  <div class="col-5">
      <table class="table table-light" id="series-table">
          <thead>
              <tr>
                  <th scope="col" id="white-cell">#</th>
                  <th scope="col" id="white-cell">Name</th>
                  <th scope="col" id="white-cell">Channel</th>
                  <th scope="col" id="white-cell">Seasons</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serie of series">
              <th scope="row">
                <dd>{{serie.id}}</dd>
              </th>
              <td>
                <dd><a href="{{serie.webpage}}" target="_blank"><strong>{{serie.name}}</strong></a></dd>
              </td>
              <td>
                <dd>{{serie.channel}}</dd>
              </td>
              <td>
                <dd>{{serie.seasons}}</dd>
              </td>
            </tr>
            <tr>
              <td scope="row" id="white-cell" colspan="12">
                <dd>Seasons average: {{seasonsAvg}}</dd>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>