<div class="row justify-content-center">
  <div class="col-10">
      <table class="table table-light" id="series-table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Channel</th>
                  <th scope="col">Seasons</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serie of series">
              <th scope="row">{{serie.id}}</th>
              <td>
                <a href="{{serie.webpage}}" target="_blank">{{serie.name}}</a>
              </td>
              <td>{{serie.channel}}</td>
              <td>{{serie.seasons}}</td>
            </tr>
          </tbody>
      </table>
      <div id="average-cell">
        <p>Seasons average: {{seasonsAvg | number:'1.0-1'}}</p>
      </div>
  </div>
</div>

<div class="footer-bar">
  <p>Rodrigo Garcia Aguirre 202212375 Taller Angular</p>
</div>
